.movie {
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  max-width: 270px;
  max-height: 218px;
  margin: 32px 20px 0 0;
}

.movie:first-of-type {
  margin-left: 0;
}

.movie:nth-of-type(4n) {
  margin-right: 0;
}

.movie__preview {
  border-radius: 10px 10px 0 0;
  width: 100%;
  object-fit: cover;
}

.movie__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 12px 0;
}

.movie__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  max-width: 206px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie__save-button {
  width: 16px;
  height: 16px;
  border: 2px solid #ffff;
  padding: 0;
  background: #f4f4f4;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  border-radius: 50px;
}

.movie__save-button_active {
  background: #2be080;
}

.movie__duration {
  width: fit-content;
  margin: 10px 0 14px 12px;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}
