.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.profile__form {
  margin: 123px 0 220px 0;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  padding-top: 17px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 410px;
}

.profile__label:last-of-type {
  border: none;
}

.profile__label:first-of-type {
  padding-top: 0;
}

.profile__input {
  border: none;
  width: 100%;
  max-width: 250px;
  text-align: right;
  background: #fafafa;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
  outline: none;
}

.profile__edit-button {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  border: none;
  background: #fafafa;
  cursor: pointer;
}

.profile__edit-button_invalid {
  color: #e8e8e8;
}

.profile__exit-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  margin: 16px 0 0;
  border: none;
  background-color: #fafafa;
  cursor: pointer;
}
