.portfolio {
  max-width: 100%;
  padding-bottom: 84px;
}

.portfolio__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
  margin: 0;
}

.portfolio__links {
  margin: 50px 0 0;
  padding: 0;
}

.portfolio__link-item {
  list-style: none;
  padding: 0 0 19px;
  border-bottom: 1px solid #e8e8e8;
  margin: 10px 0 0;
}

.portfolio__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.portfolio__link-arrow {
  height: 60px;
  width: 29px;
  margin: 0;
  padding: 0;
}
