.sign-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-header__logo {
  width: 38px;
  height: 38px;
  margin: 0 0 40px 0;
}

.sign-header__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  width: fit-content;
}
