.promo {
  max-width: 1200px;
  width: 100%;
  background-color: #F5F5F5;
  margin-top: 20px;
  padding: 0;
  height: 493px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.promo__heading {
  max-width: 730px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 0;
  letter-spacing: -0.04em;
  width: fit-content;
}

@media screen and (max-width: 768px)  {
  .promo {
    height: 108.59vw;
  }
  .promo__heading {
    font-size: 40px;
    line-height: 52px;
    max-width: 88.54%;
    margin-top: 41.96%;
  }
}

@media screen and (max-width: 500px)  {
  .promo__heading {
    font-size: 29px;
    line-height: 37px;
  }
}

@media screen and (max-width: 320px)  {
  .promo {
    height: 586px;
  }
  .promo__heading {
    font-size: 29px;
    line-height: 37px;
    margin-top: 220px;
  }
}