.search {
  padding: 0 0 83px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.search__form {
  max-width: 932px;
  width: 100%;
  position: relative;
}

.search__input {
  opacity: 0.2;
  border: 1.5px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 50px;
  width: 100%;
  max-width: 932px;
  padding: 15px 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #a0a0a0;
}

.search__input:focus {
  outline: none;
  border-color: #3456f3;
  opacity: 1;
  color: #000000;
}

.search__button {
  background: #3456f3;
  border-radius: 48px;
  height: 34px;
  width: 34px;
  border-style: none;
  position: absolute;
  right: 7px;
  top: 7px;
  background-image: url(../../images/search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.1s linear;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width:768px) {
  .search {
    flex-direction: column;
    padding: 0 0 57px;
  }
}
