.sign-container {
  max-width: 396px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-form {
  margin: 40px 0 69px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.sign-form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-top: 20px;
}

.sign-form__label:first-of-type {
  margin: 0;
}

.sign-form__input {
  max-width: 100%;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 10px 0 0;
}

.sign-form__input:last-of-type {
  margin-bottom: 0;
}

.sign-form__input:focus {
  border: 2px solid #3456f3;
}

.sign-form__label_error {
  color: #ee3465;
}

.error {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin: 10px 0 0;
}

.sign__submit-button {
  width: 100%;
  background: #3456F3;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  height: 45px;
  cursor: pointer;
}

.sign__submit-button_invalid {
  background: #a0a0a0;
  color: rgba(0, 0, 0, 0.2);
}

.sign__wrapper {
  margin: 16px 0 0;
}

.sign__paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.sign__signin-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center; 
  color: #3456F3;
  text-decoration: none;
}

@media screen and (max-width:450px) {
  .sign-form {
    margin-top: 80px;
  }
  .sign__submit-button {
    font-size: 12px;
    line-height: 15px;
  }
  .sign__paragraph {
    font-size: 12px;
    line-height: 15px;
  }
  .sign__signin-link {
    font-size: 12px;
    line-height: 15px;
  }
  .error {
    font-size: 10px;
    line-height: 12px;
  }
}