.aboutme {
  max-width: 100%;
  margin: 0 auto;
  padding: 110px 70px 100px 70px;
}

.aboutme__heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  margin: 0;
  padding-bottom: 23px;
}

.aboutme-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 66px 0 0;
}

.aboutme-info__wrapper {
  max-width: 600px;
  margin: 0;
}

.aboutme-info__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.aboutme-info__short {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 0;
}

.aboutme-info__description {
  font-size: 14px;
  line-height: 22px;
  margin: 26px 0 0;
}

.aboutme-info__links {
  padding: 0;
  margin: 99px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.aboutme-info__link-list {
  list-style: none;
  margin: 0 20px 0 0;
}

.aboutme-info__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
